
<h1>{{ params.title }}</h1>
<h3>{{ params.results }}</h3>
<p>{{ params.input }}</p>

<pre>
Temperatura in {{ params.weather.name }} este de {{ params.weather.main.temp }} grade Celsius,
cu o umiditate de {{ params.weather.main.humidity }} %
</pre>
